.skills {
    width: 80%;

    h3 {
        border: 1px solid #565656;
        font-size: 12px;
        font-weight: 300;
        border-radius: 30px;
        padding: 9px;
        align-items: center;
        display: inline-flex;
        color: white;
        translate: 0px -20px;
    }

    h1 {
        font-size: 50px;
        letter-spacing: -0.2px;
        line-height: 50px;
        margin: 0;
        margin-bottom: 40px;
        font-weight: 300;
        color: white;

        span {
            color: #ff99cc;
        }
    }

    .elements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        color: white;
        float: left;

        .element {
            border: 2px solid #565656;
            width: 15%;
            height: auto;
            padding: 25px 8px;
            margin: 20px 8px;
            border-radius: 85px;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 20px;
            }

            #icon {
                font-size: 40px;
            }

            img {
                width: 50px;
                height: 50px;
            }

        }

    }


}