.resume {
    translate: 0px -20px;

    h3 {
        border: 1px solid #565656;
        font-size: 12px;
        font-weight: 300;
        border-radius: 30px;
        padding: 9px 20px;
        align-items: center;
        display: inline-flex;
        color: white;
        translate: 0px -20px;
    }

    h1 {
        font-size: 50px;
        letter-spacing: -0.2px;
        line-height: 50px;
        margin: 0;
        margin-bottom: 40px;
        font-weight: 300;
        color: white;

        span {
            color: #ff99cc;
        }
    }

    .content {
        border-left: 1px solid #565656;
    }

    .item {
        transform: translate(50px, 0);
        line-height: normal;
        margin-bottom: 40px;

        h4 {
            margin: 10px 0 5px 0;
            color: #ff99cc;
            font-size: 15px;
        }

        p {
            margin: 0;
            font-size: 15px;
        }

        h2 {
            font-size: 25px;
            font-weight: 300;
            color: white;
            margin: 10px 0;
        }

    }
}