.about {
    width: 75%;
    height: 70%;

    h4 {
        border: 1px solid #565656;
        font-size: 12px;
        font-weight: 300;
        border-radius: 30px;
        padding: 9px 20px;
        align-items: center;
        display: inline-flex;
        color: white;
        margin-bottom: 53px;
    }

    h2 {
        font-size: 50px;
        letter-spacing: -0.2px;
        line-height: 70px;
        margin-bottom: 43px;
        font-weight: 300;
        color: white;

        span {
            color: #ff99cc;
        }
    }

    p {
        line-height: 30px;
        font-size: 16px;
    }
}